{% extends 'base.html' %}
{% block content %}
<section class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> 资产管理</a>
            </li>
        </ol>
    </div>
</section>
<section class="content">
    <div class="box">
    <div class="box-header">
      <h3 class="box-title">Data Table With Full Features</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <table id="example" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
            <th>CSS grade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Trident</td>
            <td>Internet
              Explorer 4.0</td>
            <td>Win 95+</td>
            <td> 4</td>
            <td>X</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Rendering engine</th>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine version</th>
            <th>CSS grade</th>
          </tr>
        </tfoot>
      </table>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</section>
{% endblock %}
{% block script %}
<script>
  $(function () {
    $('#example').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}