{% extends 'base.html' %}
{% block content %}
<section class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> 资产管理</a>
            </li>
        </ol>
    </div>
</section>
<section class="content">
    <div class="content-fluid">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">资产列表</h3>
            </div>
            <div class="box-body">
          <table id="table-assets" class="table table-bordered table-hover dataTable" role="grid">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011/04/25</td>
                    <td>$320,800</td>
                </tr>
            </tbody>
          </table>
      </div>
        </div>
    </div>
</section>
<script>
$(function () {
    $('#table-assets').DataTable({
        language:  {
            url: urlhead + '/static/js/dataTables.zh_cn.json' 
        }
    });
});
</script>
{% endblock %}
